<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.svauto.fastrvc">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RVC_GROUP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.svauto.fastrvc.application.AvmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/avm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AvmMainActivity"
                  android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.AvmMainActivity"/>-->

        <receiver android:name="com.svauto.fastrvc.rvc.receivers.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.desay_svautomotive.svengineeringmode.rvctest"/>
                <action android:name="android.intent.action.SV_RVC_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.svauto.fastrvc.rvc.services.FastRvcService"
                 android:enabled="true" >
        </service>

    </application>

</manifest>